/* INTRO */
.intro {
  padding: 32px 16px;
}

/* Tekst */
.intro-text h1 {
  font-size: 2.2rem;
  line-height: 1.05;
  margin: 0 0 6px;
}

.subtitle {
  margin: 0 0 14px;
  opacity: 0.8;
}

.intro-text p {
  margin: 0 0 18px;
  max-width: 32ch;
}

.intro-text .btn {
  margin-top: 6px;
}

/* OM MIG TEASER */
.about-teaser {
  padding: 32px 16px;
  margin-top: auto; /* skubber sektionen til bunden af siden */
  display: flex;
  gap: 24px;
  align-items: flex-end; /* figur og tekst aligner i bunden */
}

.figur {
  width: 180px;
  height: auto;
  max-width: none;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 32ch;
}

.decorative1 {
  display: flex;
  align-items: center;
}

.decorative1 :last-child {
  width: 100%;
  max-width: 150px;
}

main {
  min-height: calc(
    100vh - 72px
  ); /* justér 72 hvis din header er højere/lavere */
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

@media (min-width: 1200px) {
  main {
    display: flex;
    gap: 64px;
    max-width: 1200px;
  }

  .intro {
    flex: 2;
  }
  .about-teaser {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .about-text {
    display: flex;
    gap: 15px;
    margin-bottom: 150px;
  }

  .figur {
    margin-left: 60px;
  }

  .decorative1 {
    display: flex;
  }
  .decorative1 img:last-child {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
  }
}
