main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 32px;
}

.project details p {
  margin: 12px 0;
}
details {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  line-height: 1.6;
}
.project details p:first-child {
  margin-top: 0;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.texture-right {
  width: 100%;
  max-width: 110px;
}
.acc-img {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  margin-top: 20px;
  width: 100%;
}

.acc-links {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.acc-lastp {
  font-weight: bold;
}

.P-links {
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 32px;
  }

  .blue-texture {
    max-width: 150px;
    margin: 0;
    padding: 0;
    left: 0;
    top: 400px;
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  .acc-img {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner = ved siden af hinanden */
    grid-template-rows: 1fr; /* Kun én række = ingen tom plads under */
    gap: 20px;
    margin-bottom: 5px;
  }

  .acc-img img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .acc-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 5px;
  }
  .P-links {
    text-align: center;
    margin-bottom: 40px;
  }
}
