.projekter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project details p {
  margin-top: 12px;
}

.project details p:first-child {
  margin-top: 0;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.texture-right {
  width: 100%;
  max-width: 110px;
  float: right;
}
.acc-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.acc-links {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.acc-lastp {
  font-weight: bold;
}

.P-links {
  font-weight: bold;
  text-align: center;
}
