/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== VARIABLER ========== */
:root {
  --color-primary: #216de1;
  --color-background: #f7f4ef;
  --color-text-heading: #2b2b2b;
  --color-text-body: #333333;
  --color-gray-light: #e5e5e5;
  --color-gray-medium: #9b9b9b;

  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* ========== BASE ========== */
body {
  font-family: var(--font-body);
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-text-body);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ========== HEADER/NAV (fælles) ========== */
.site-header {
  background: var(--color-primary);
}

.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font-heading);
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}

.site-nav ul {
  display: flex;
  gap: 16px;
}

.site-nav a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

/* ========== BUTTON (fælles) ========== */
.btn {
  padding: 10px 16px;
  border-radius: 500px;
  background: var(--color-primary);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  min-width: 240px; /* Sørg for de alle er brede nok */
  min-height: 40px; /* Fast højde */
  line-height: 1.2;
  display: flex; /* Brug flexbox */
  align-items: center; /* Centrér vertikalt */
  justify-content: center; /* Centrér horisontalt */
  text-align: center;
  margin-bottom: 16px; /* Lidt afstand under knappen */
  width: fit-content;
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
  .btn {
    min-width: 200px; /* Minimum bredde på desktop */
    padding: 12px 24px;
    white-space: nowrap; /* Sørg for det også gælder her */
  }
}
